* {
  box-sizing: border-box;
}

html, body { height: 100%; }

html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  font-family: Lato, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #333;
  font-size: 1.4rem;
}

.section-title{
  display: inline-block;
  font-size: 3rem;
  height: 40px;
  border-bottom: 1px solid #76787a;
}

.link::after {
  content: "";
  display: block;
  margin: 6px auto 0;
  width: 0;
  border-bottom: 1px solid #028090;
  transition: width 0.3s ease-in-out;
}

.link:hover::after{
  width: 100%;
}

/* header */

header{
  background-image: url("images/header.jpg");
  background-size: cover;
  position: relative;
  height: 100%;
  color: #fff;
}

.title{
    font-size: 70px;
    font-weight: bold;
    width: 60%;
    height: 150px;
    color: #f2f2f2;
    position: absolute;
    top: 52%;
    left: 20%;
}


header .sns{
  display: inline-flex;
  float: right;
  margin-top: 10px;
}

header .sns a i{
  margin-right: 15px;
  font-size: 30px;
  color: #fff;
}

.nav{
  width: 900px;
}

.nav li a{
  padding-right: 10px;
  font-size: 25px;
  color: #fff;
}

/* about */
.thumbnail-name {
  margin: 50px auto 20px;
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.thumbnail {
  display: block;
  float: left;
}
.name {
  margin-top: 50px;
  float: left;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.text-contents{
  width: 350px;
  margin: 0 auto 50px;
  line-height: 2.5;
}

/* skills */

.skills-wrapper {
  display: flex;
  width: 80%;
  margin: 50px auto 50px;
  justify-content: space-around;
}

.skill-box {
  width: 33%;
}

.skill-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  font-size: 8rem;
  color: #333;
}


.skill-title {
  margin: 0 20px 20px;
  font-size: 2rem;
}

.skill-text {
  margin: 0 20px;
  line-height: 2.5;
}

/* works */
.works-wrapper {
  width: 80%;
  margin: 0 auto 50px;
  padding-bottom: 50px;
}

.work-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.work-box:nth-child(even){
  flex-direction: row-reverse;
}

.work-text {
  text-align: left;
}

.work-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.work {
  width: 444px;
}

/* footer */
footer {
  text-align: center;
}

.to-head{
  cursor: pointer;
  display: inline-block;
}

footer .sns a i{
  margin-right: 15px;
  font-size: 20px;
  color: #028090;
}
